@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quattrocento&family=Quattrocento+Sans&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #fffcf0;
    margin: 0;
}

.navbar {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    background-color: #0d5eaf;
    color: #fff;
    font-family: 'Quattrocento Sans', sans-serif;
}

.logo {
    text-align: center;
    justify-content: center;
    font-size: 2rem;
    margin: 25px 15px 15px 15px;
}

.navlinks {
    margin: 15px;
}

a {
    color: #fff;
}

.navlinks ul li {
    display: inline;
    list-style-type: none;
    font-size: 1.2rem;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    display: flex;
    margin-top: 30px;
}

.instruct {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    font-family: 'Quattrocento', serif;
}

.instruct h2 {
    text-decoration: underline;
    font-weight: bold;
}

.instruct li {
    font-weight: 400;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.calculator {
    display: block;
    width: 60%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}

.display {
    background-color: rgba(13, 94, 175, 0.5);
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    text-align: right;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    font-size: 2rem;
    color: white;
    padding: 5px 0;
}

.keypad {
    display: grid;
    width: 100%;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
}

button {
    border-radius: 5px;
    font-size: 1.2rem;
    font-family: 'Nunito', sans-serif;
}

.equals {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;;
}

.greek {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}

.about {
    text-align: left;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
    font-family: 'Quattrocento', serif;
}

.about h1 {
    text-align: center;
}

#nav {
    font-size: 1rem;
}

.about p {
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 20px;
    font-size: 1.3rem;
}

.enlarge {
    font-size: 1.3rem;
}

.about a {
    color: #0d5eaf;
}

#footer {
    text-align: center;
    margin: auto;
    font-size: 1.2rem;
    font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 680px) {
    * {
        border: 1px solid red;
    }

    .body {
        overflow-x: hidden;
    }

    .navbar {
        width: 100%;
    }

    .navlinks ul li {
        text-align: center;
        justify-content: center;
        margin: 0;
    }
    
    .container {
        display: block;
        margin-top: 10px;
    }

    .instruct {
        width: 100%;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .calculator {
        width: 100%;
        margin-top: 30px;
    }

    .about {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .about p {
        word-wrap: break-word;
    }
}








